*{
    margin: 0;
    padding:0;
}


html,body
{
    width:100%;
    height:100%;
}

body
{
    background-color: rgb(190, 185, 185);
    overflow: hidden;
}


.main
{
    width: 600px;
    height: 400px;
    background-color: rgb(240, 234, 219);
    margin: 100px auto;
    border-radius: 20px;
    box-shadow: 1px 1px  10px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    transition: all 0.3s ease-in-out;
}

.main h1 
{
    text-align: center;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(36, 36, 36);
}

.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 5px;
}

.emoji-input #emoji-value
{
 padding: 10px;
 width:200px;
 border-radius: 5px;
 border: none;
 text-align: left;
 font-size: 15px;
 cursor: pointer;
}


.score
{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(36, 36, 36);
}


#emojis
{
    font-size: 30px;
}


.notification
{
    margin: 30px auto;
    text-align: center;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
}

#notification-value
{
    font-size: 20px;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(36, 36, 36);
    padding: 5px;
}



.right
{
    background-color: greenyellow;
    color: black;
}

.wrong
{
    background-color: red;
    color: white;
}

